name: Nix flakes 

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [main]

jobs:

  # Nix Flakes, x86_64 Linux
  nix-flakes-x86_64-linux:
    name: Linux x86_64
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: DeterminateSystems/determinate-nix-action@main
      - run: nix build .

