name: Build using PKGBUILD (Arch Linux)

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [main]

jobs:

  # Arch Linux, x86_64 Linux
  arch-linux:
    name: Arch Linux
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: egor-tensin/setup-gcc@v1
      - uses: nicledomaS/cmake_build_action@v1.4
      - uses: heyhusen/archlinux-package-action@v2.4.0
