name: Build using CMake

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [main]

jobs:

  # CMake, x86_64 Linux
  cmake-x86_64-linux:
    name: Linux x86_64
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: egor-tensin/setup-gcc@v1
      - uses: nicledomaS/cmake_build_action@v1.4
      - run: make install

  # CMake, ARM Linux
  cmake-aarch64-linux:
    name: Linux aarch64
    runs-on: ubuntu-24.04-arm
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: egor-tensin/setup-gcc@v1
      - uses: nicledomaS/cmake_build_action@v1.4
      - run: make install
